.RollDice{
    display: flex;
    flex-direction: column ;
    /* min-height: 100vh; */
    }
    
    /* Shows each dice in one row */
    .RollDice-container{
    display: flex;
    justify-content: center;
    align-content: center;
    }
    /* Stylling rolldice button */
    .RollDice button{
    /* width:19.6875em; */
    /* height: 6.1875em; */
    padding:1.7rem 2.75rem 1.6rem 2.87rem;
    border: unset;
    border-radius: 10px;
    color:white;
    background-color:#DB4D00;
    margin-bottom: 5.56rem;
    align-self: center;
    font-size: 3.8em;
    -webkit-box-shadow: -1px 1px 0px 3px rgba(0,0,0,0.22); 
box-shadow: -1px 1px 0px 3px rgba(0,0,0,0.22);
    }
    
    /* Setting hover effect on button */
    .RollDice button:hover{
    cursor: pointer;
    }
    
    .RollDice-rolling{
    border: 0px;
    border-radius: 10px;
    background-color:#FFCC00 !important;
    opacity:0.7
    }

    @media(max-width:1500px) {
       
        .RollDice button{
            margin: 20% ;
            /* position: absolute;
            top:0 ; */
            /* width:19.6875em; */
            /* height: 6.1875em; */
           
            }

        
    }
    @media(max-width:950px) {
        .RollDice{
            position: absolute;
            top: 0;
            flex-direction: row;
            height: 20vh;
            align-items: center;
        }
        .RollDice button{
            /* margin: 5% 10% 0 0 ; */
            font-size: 25px;
            margin: 0;
            /* position: absolute;
            top:0 ; */
            /* width:19.6875em; */
            /* height: 6.1875em; */
           
            }

        
    }
    