.RollDice{
    display: flex;
    flex-direction: column ;
    }
    
    .RollDice-container{
    display: flex;
    justify-content: center;
    align-content: center;
    }
    .RollDice button{
    
    padding:1.7rem 2.75rem 1.6rem 2.87rem;
    border: unset;
    border-radius: 10px;
    color:white;
    background-color:#DB4D00;
    margin-bottom: 5.56rem;
    align-self: center;
    font-size: 3.8em;
    -webkit-box-shadow: -1px 1px 0px 3px rgba(0,0,0,0.22); 
box-shadow: -1px 1px 0px 3px rgba(0,0,0,0.22);
    }
    .RollDice button:hover{
    cursor: pointer;
    }
    
    .RollDice-rolling{
    border: 0px;
    border-radius: 10px;
    background-color:#FFCC00 !important;
    opacity:0.7
    }


    @media(max-width:1500px) {
        .RollDice button{
            margin: 20% ;
            }
        
    }
    @media(max-width:950px) {
        .RollDice button{
            font-size: 25px;
             text-align: center;
            }
    }