.canvas {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
}

.canvas .circle{
    background-color: red;
    width: 30px;
    height: 30px;
    position: absolute;
bottom: 0;
    top:0

}